<router-outlet></router-outlet>
<div class="container jumbotron ">
    <table class="table table-striped table-dark" border="1">
        <tbody>
            <tr class="bg-info"> 
                <th> Id</th>
                <th> Name</th>
                <th> Email</th>
                <th> Mobile</th>
                <th> Designaton</th>
                <th> Uname</th>
                <th> Password</th>
                <th> Action</th>
            </tr>
        </tbody>
            <tr *ngFor="let com of comlist">
                <td>{{com.id}}</td>
                <td>{{com.ename}}</td>
                <td>{{com.email}}</td>
                <td>{{com.mobile}}</td>
                <td>{{com.designation}}</td>
                <td>{{com.username}}</td>
                <td>{{com.password}}</td>
                <td><a [routerLink]="['companydetail',com.id]" >show details</a>
                    <a class="btn" [routerLink]="['update']" [state]="emp1">
                        <i class="fa fa-edit" style="color: rgb(146, 92, 92);"></i>
                    </a>
                <a class="btn">
                        <i class="fa fa-trash " (click)="deletecompany(com.id)"></i>
                    </a>
                </td>
            </tr>
       
    </table>
    
        <button class="btn btn-info float-right" (click)="getback()">Go Back</button>
        
    
</div>


<p>company-list works..!</p>