<p>employee-details works!</p>
<div class="jumbotron"style="text-align:center" >
<table class="table table-dark center " style="text-align:center" >
<tr>
<td> Name</td>
<td> <input type="text"value={{employeeObj.ename}}></td>
</tr>
<tr>
<td> Email</td>
<td> <input type="text" value={{employeeObj.email}}></td>
</tr>
<tr>
<td> Mobile</td>
<td> <input type="text" value={{employeeObj.mobile}}></td>
</tr>
<tr>
<td> Designation</td>
<td> <input type="text" value={{employeeObj.designation}}></td>
</tr>
<tr>
<td> Username</td>
<td> <input type="text" value={{employeeObj.username}}></td>
</tr>
<tr>
<td> password</td>
<td> <input type="text" value={{employeeObj.password}}></td>
</tr>
</table>
<button class="btn btn-info float-right" (click)="getback()">Go Back</button>
</div>