<router-outlet></router-outlet>
<div class="container jumbotron ">
    <table class="table table-striped table-dark" border="1">
        <tbody>
            <tr class="bg-info"> 
                <th> Id</th>
                <th> Name</th>
                <th> Email</th>
                <th> Mobile</th>
                <th> Designaton</th>
                <th> Uname</th>
                <th> Password</th>
                <th> Action</th>
            </tr>
        </tbody>
            <tr *ngFor="let emp1 of emplist">
                <td>{{emp1.id}}</td>
                <td>{{emp1.ename}}</td>
                <td>{{emp1.email}}</td>
                <td>{{emp1.mobile}}</td>
                <td>{{emp1.designation}}</td>
                <td>{{emp1.username}}</td>
                <td>{{emp1.password}}</td>
                <td><a [routerLink]="['employeedetail',emp1.id]">show details</a>
                    <a class="btn" [routerLink]="['update']" [state]="emp1">
                        <i class="fa fa-edit" style="color: rgb(146, 92, 92);"></i>
                    </a>
                <a class="btn">
                        <i class="fa fa-trash " (click)="deleteemployee(emp1.id)"></i>
                    </a>
                </td>
            </tr>
       
    </table>
    
        <button class="btn btn-info float-right" (click)="getback()">Go Back</button>
        <!-- <a class="btn btn-info float-right" routerLink="/employee">Back</a> -->
    
</div>


<p>Employee-list works..!</p>